.home-policy-check::part(base){
   font-size: 16px;
  
}

.home-policy-check::part(control){

    transform: scale(1.4);
}


.spinner {
    position: relative;
    top: 35%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
  }
  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  } 


.wavy-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #005baa;
      width: 100%;
    position: fixed;
      z-index: 9999999;
      top: 0;
      left: 0;
  }
  .wavy-wraper.hidden{display: none;}
  .wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  }
  .wavy > span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 3em;
    margin-right: 3px;
    font-family: 'poppins';
   /*  text-transform: uppercase; */
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(.1s * var(--i))
    
  }
  @keyframes animate {
    0%, 100% {
      transform: translateY(0px);
    }
    20% {
      transform: translateY(-20px);
    }
    40% {
      transform: translateY(0px);
    }
  }
  
  
  
  