.navbar-main{
    top: 0px;
    z-index: 9;
    min-width: 100%;
    min-height: 8vh;
    background-color: #52575d;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-main-inner{
    min-width: 90vw;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navbar-right > img{
    border-radius: 1000px;
}
.navbar-right > h3{
    color: antiquewhite;
}