.approval-main{
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background-color: #f7f9fa;
}
.approval-main-left{
    min-width: 20vw;
    max-height:100%;
    padding: 2% 2%;
    box-shadow:  1px 1px 2px #acacac,
    -0.5px -0.5px 0px #f0f0f0;
}


.aproval-menu-item::part(label){
    font-size: 18px; 
}

.aproval-menu-item::part(base){
    padding: 3% 0%;
}

.approval-table-main{
  min-width: 100%;
}
.approval-main-right{
    padding: 2%;
    flex-grow: 1;
   
}

.leave-dates-main{

}

.leave-dates-inner{
    display: flex;
    flex-direction: row;
}
.leave-dates-inner > h4{
    font-weight: normal;
}

.leaveChangeButton{
    margin-right: 30px;
}