@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-r,
.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;
}
.flex-c {
  flex-direction: column;
}
.flex-r {
  flex-direction: row;
}

.containers {
   cursor: default;
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
  background: #e5e5e5;
}

.login-text {
  background-color: #f6f6f6;
  max-width: 30vw !important;
 
  min-height: 500px;
  border-radius: 10px;
  padding: 10px 20px;
  width: 40vw;

}
@media only screen and (max-width: 1000px) {
  
.login-text {
 
  min-width: 40vw !important;
 
}
 
}
@media only screen and (max-width: 650px) {
  
.login-text {
 
  min-width: 65vw !important;
 
}
 
}
@media only screen and (max-width: 400px) {
  
.login-text {
 
  min-width: 85vw !important;
 
}
 
}
.logo {
  margin-bottom: 20px;
}
.logo span,
.logo span i {
  font-size: 25px;
  color: #0d8aa7;
}

.login-text h1 {
  font-size: 25px;
}
.login-text p {
  font-size: 15px;
  color: #000000b2;
  
}

form {
  align-items: flex-start !important;
  width: 100% ;
  margin-top: 15px;
}

.input-box {
  margin: 10px 0px;
  width: 100%;
}
.label {    
  font-size: 15px;
  color: black;
  margin-bottom: 3px;
}
.input {
  background-color: #f6f6f6;
  padding: 0px 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
}

input {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
  flex: 1;
}
.input i {
  color: rgba(0, 0, 0, 0.4);
}

.check span {
  color: #000000b2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.btns {
  color: #ffffff !important;
  border-radius: 5px !important;
 /*  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%); */
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  min-width: 40%;
  transition: all 0.3s linear;
  border: none !important;
background: #2689cc !important;
padding: 10px 20px;
box-shadow:  7px 7px 23px #c3c3c3,
             -7px -7px 23px #ffffff;
}

.btn:hover {
  transform: translateY(-2px);
}
.extra-line {
  font-size: 15px;
  font-weight: 600;
}
.extra-line a {
  color: #0095b6;
}

.login-download-app{
  font-size: 14px;
  color: blue;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}