.ceam-main{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ceam-inner{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    width: 30%;
    border: 1px solid black;
    
}
.ceam-inner > div:nth-child(1){
    background-color: rgba(96, 221, 221, 0.486);
}

.ceam-inner-record{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    border-bottom: 1px solid black;
}
.ceam-inner-record > h4{
    font-size: 16px;
}

.ceam-main-proceed-button{
    width: 150px;
    padding: 2% 0%;
    margin-top: 3vh;
}

.file-picker-ceam{
   
   padding: 0%;
   max-width: 30vw;
 
    background-color: rgba(255, 255, 255, 0);
    
}
.ceam-roster-main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

.ceam-roster-date-main{
    min-width: 100%;
  
    padding: 10px 0%;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.month-picker-ceam{
    margin: auto;
    max-width: 20vw;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288), -1px -1px 1px rgba(0, 0, 0, 0.178);
}


.ceam-file-main{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1%;
    
}

.table-ceam{
    padding: 0% 2%;
}