html,
body {
 
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: 'SF UI Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}
*{
  -webkit-appearance: none !important;
}



.dashboard-main{
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth; 
 
}
.dashboard-inner{
 
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#root,
#react-org-chart {
  overflow-x: hidden !important;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f7f9fa;
}
#react-org-chart{
  cursor: move;
}
.org-chart-person-name {
  font-weight: 500;
}
.org-chart-person-link:hover g {
  fill: #409cf9 !important;
}
/* .org-chart-node:hover .org-chart-person-reports {
  fill: #409cf9 !important;
} */
.org-chart-person-dept.engineering {
  fill: #4caf50 !important;
}
.org-chart-person-dept.communications {
  fill: #3f51b5 !important;
}
.org-chart-person-dept.product {
  fill: #d500f9 !important;
}
.org-chart-person-dept.hr {
  fill: #2196f3 !important;
}
.org-chart-person-dept.marketing {
  fill: #f44336 !important;
}
.org-chart-person-dept.design {
  fill: #26c6da !important;
}

.zoom-buttons {
  position: absolute;
  top: 15vh;
  right: 20px !important;
  margin-right: 10px;
  display: flex;
  text-align: center;
}

.download-buttons {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.zoom-button {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 5% !important;
border-radius: 300px !important ;
}

.btn {
background-color: white !important;
  font-size: 0.875rem;
  text-transform: none;
  text-decoration-line: none;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-radius: 0.125rem;
  cursor: pointer;
  margin: 6px;
}

.btn-outline-primary {
  color: #374ea2 !important;
  border-color: #374ea2 !important;
}
.btn-outline-primary :hover {
  background-color: white !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  border-color: #374ea2;
}
.btn:before{
  background-color: white !important;
}

.github-link {
  font-size: 16px;
  margin-left: 8px;
  margin-right: 16px;
}

.stickys{
  
    position: fixed;
    top: 0;
    width: 100%;
  
  
}


*{
  font-family: 'Public Sans', sans-serif;

}
.home-main{
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 101vh;
  min-width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
.home-main-left{
  display: flex;
  min-width: 60px;
}
.home-main-right{
  min-width: calc(100%-30px);
  min-height: 100vh;
}
.home-main-container{
  min-height: 100vh;
  min-width: 100%;
}

.read-more-button{
  font-size: 16px;
  border-radius: 5px !important;
}
.read-more-button:hover{
  color: #c5262d !important;
}


